/*

TOP NAV _nav.html

<header>
  <nav>
    <ul>
      <li class="home"><a href="/">T.H.</a></li>
      <li class="poetry"><a href="/poetry">Poetry</a></li>
      <li class="prose"><a href="/prose">Prose</a></li>
      <li class="whereabouts"><a href="/events" class="events">Where</a>(<a href="/about" class="about">about</a>)s</li>
    </ul>
  </nav>
</header>

BOTTOM NAV (within _footer.html)

<footer>
  <nav>
    <ul>
      <li><a href="http://www.tomhealy.net">Tom Healy</a></li>
      <li><a href="mailto:contact@heyday.us">Email</a></li>
      <li><a href="http://twitter.com/tphealy">Twitter</a></li>
      <li><a href="http://thomashealy.tumblr.com">Tumblr</a></li>
    </ul>
  </nav>
  <p class="credit">Website by <a href="http://caseyagollan.com/for-hire">C.A.G.</a></p>
</footer>

*/

// TOP NAV

header, footer {
  padding:15px 0;
  li {
    display:inline-block;
    margin-right:4px;
  }
}

header {
  nav {
    .home { // home icon image replacement
      display:inline-block;
      height:24px;
      a:link, a:visited {
        display:inline-block;
        padding:0;
        margin:1px 1px 0 0;
        height:23px;
        width:23px;
        text-indent: -5000em;
        background-image: url(/img/home.png);
        background-size:23px 47px;
        background-repeat:no-repeat;
        border:none!important;
        -webkit-transition: none;
        }
      a:hover, a:active {
        background-position:bottom;
        }
      }
    }
  }

// active state, e.g. in a body with an id of poetry, make links with the class poetry look active

body#poetry .poetry a, body#prose .prose a, body#events a.events, body#about a.about {
  border-bottom:2px solid black!important;
  }

body#home nav .home a { // active state for home icon
  background-position:bottom;
  }

// BOTTOM NAV

.credit {
  font-size:13px;
}
