@import url(normalize.css);
/* Imports */
body {
  font-family: "Chronicle SSm A", "Chronicle SSm B", serif;
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 1.5;
  background: #fff;
  color: #000; }

h1, h2, h3, h4, h5, nav, footer {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  color: black; }

a:link, a:visited {
  color: black;
  text-decoration: none; }

a:link, a:visited {
  vertical-align: baseline;
  font-weight: 400;
  letter-spacing: 0;
  padding: 0px 0;
  margin: 0;
  border-bottom: 2px solid #dfdfdf; }

a:hover {
  border-bottom: 2px solid black !important; }

hr {
  border: none;
  border-top: 1px solid #ccc; }

h1 {
  font-size: 1.75em;
  line-height: 1.15em; }

h2 {
  font-size: 1.45em; }

h3 {
  font-size: 1.10em; }

h4 {
  font-size: .83em; }

h5 {
  font-size: .75em; }

ul h3 {
  font-weight: bold; }

h1, h2, h3, h4, h5 {
  font-weight: normal; }
  h1 .meta, h2 .meta, h3 .meta, h4 .meta, h5 .meta {
    font-weight: 100; }

img, video, object {
  max-width: 100%; }

article, header, nav, section {
  display: block; }

p.intro {
  font-style: italic;
  margin-top: 0; }

p {
  margin: 1em auto; }

blockquote {
  font-style: italic; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

article h1, article h2 {
  padding: 0;
  margin: 15px 0; }
article h1.content-title {
  margin-bottom: 5px; }
article h2.breadcrumb {
  margin-top: 0; }
article li h3 {
  margin: 10px 0; }

video {
  display: block;
  margin: auto; }

footer {
  clear: both;
  margin-top: 30px;
  border-top: 1px solid #dfdfdf; }

@media only screen and (min-width: 480px) {
  /* 480 =================================================== */
  body#home {
    background-image: url("/img/tomhealyis-ghost.png");
    background-size: auto 100%;
    background-position: center; }

  header nav li {
    margin-right: 10px; }

  body#poetry article h3 {
    display: inline-block;
    width: 48%;
    margin: 10px 0; } }
@media only screen and (min-width: 600px) {
  /* 600 =================================================== */
  .parent-poetry h1 {
    margin-bottom: 20px; }
  .parent-poetry #cover, .parent-poetry article {
    width: 48%;
    display: inline-block;
    vertical-align: top; }
  .parent-poetry #cover {
    margin-right: 2%; }

  .parent-prose p, .parent-prose blockquote, #about p, #about blockquote, .parent-reviews p, .parent-reviews blockquote {
    max-width: 600px;
    margin-left: 0; } }
@media only screen and (min-width: 768px) {
  /* 768 =================================================== */
  body {
    font-size: 16px; }

  #container {
    padding: 2.5% 10% !important; }

  body#prose .content-list {
    float: left;
    width: 70%; }
  body#prose #taxonomy {
    padding: 0 10px;
    margin: 0 0 0 10px;
    float: right;
    width: 20%; }

  body#about video {
    width: 35%;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px; } }
.content-list {
  font-size: 1.10em;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif; }
  .content-list li {
    margin-top: 10px; }

#poetry .content-list .title {
  font-weight: bold; }
#poetry .content-list .publisher {
  font-style: italic; }

#prose .content-list .title {
  font-weight: bold; }

#events .content-list .locale {
  font-weight: bold; }

/*

TOP NAV _nav.html

<header>
  <nav>
    <ul>
      <li class="home"><a href="/">T.H.</a></li>
      <li class="poetry"><a href="/poetry">Poetry</a></li>
      <li class="prose"><a href="/prose">prose</a></li>
      <li class="whereabouts"><a href="/events" class="events">Where</a>(<a href="/about" class="about">about</a>)s</li>
    </ul>
  </nav>
</header>

BOTTOM NAV (within _footer.html)

<footer>
  <nav>
    <ul>
      <li><a href="http://www.tomhealy.net">Tom Healy</a></li>
      <li><a href="mailto:contact@heyday.us">Email</a></li>
      <li><a href="http://twitter.com/tphealy">Twitter</a></li>
      <li><a href="http://thomashealy.tumblr.com">Tumblr</a></li>
    </ul>
  </nav>
  <p class="credit">Website by <a href="http://caseyagollan.com/for-hire">C.A.G.</a></p>
</footer>

*/
header, footer {
  padding: 15px 0; }
  header li, footer li {
    display: inline-block;
    margin-right: 4px; }

header nav .home, footer nav .home {
  display: inline-block;
  height: 24px; }
  header nav .home a:link, header nav .home a:visited, footer nav .home a:link, footer nav .home a:visited {
    display: inline-block;
    padding: 0;
    margin: 1px 1px 0 0;
    height: 23px;
    width: 23px;
    text-indent: -5000em;
    background-image: url(/img/home.png);
    background-size: 23px 47px;
    background-repeat: no-repeat;
    border: none !important;
    -webkit-transition: none; }
  header nav .home a:hover, header nav .home a:active, footer nav .home a:hover, footer nav .home a:active {
    background-position: bottom; }

body#poetry .poetry a, body#prose .prose a, body#events a.events, body#about a.about {
  border-bottom: 2px solid black !important; }

body#home nav .home a {
  background-position: bottom; }

.credit {
  font-size: 13px; }

body#home {
  background-size: auto 100%;
  background-position: center; }
  body#home article section {
    margin: 15px auto 30px auto; }
  body#home h2 {
    margin-bottom: 0; }
  body#home section#about {
    margin: 0 0 0 0; }

.subpages {
  margin: 20px 0; }

.parent-poetry .subpages, #about .subpages, #taxonomy {
  border: 1px solid #dfdfdf;
  padding: 0 10px; }
  .parent-poetry .subpages ul li, #about .subpages ul li, #taxonomy ul li {
    margin-left: 1em; }

.subpages ul {
  margin: 0 !important; }

#reviews .subpages ul {
  border: none; }

#container {
  padding: 2.5% 5%; }

body#poetry article img {
  max-width: 100%;
  max-height: 400px;
  max-width: 400px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  display: block; }
body#poetry .subpages h3 a:link, body#poetry .subpages h3 a:visited, body#poetry .subpages h3 a:hover, body#poetry .subpages h3 a:active {
  border: none !important; }
body#poetry .subpages h3 a:hover .title {
  border-bottom: 2px solid #000; }

body#prose article ul.content-list li {
  clear: left; }
  body#prose article ul.content-list li a:link, body#prose article ul.content-list li a:visited {
    padding: 15px 0; }
    body#prose article ul.content-list li a:link .thumbnail, body#prose article ul.content-list li a:visited .thumbnail {
      max-height: 40px;
      max-width: 40px;
      float: left;
      margin-right: 10px; }
    body#prose article ul.content-list li a:link span.title, body#prose article ul.content-list li a:visited span.title {
      border-bottom: 2px solid #eee; }
    body#prose article ul.content-list li a:link span.date, body#prose article ul.content-list li a:visited span.date {
      font-weight: 100; }
  body#prose article ul.content-list li a:hover span.title, body#prose article ul.content-list li a:active span.title {
    border-bottom: 2px solid #000; }
body#prose #taxonomy {
  padding: 0 10px 20px 10px; }
  body#prose #taxonomy h4 {
    margin-bottom: 5px; }
  body#prose #taxonomy li {
    margin-left: 0; }

/*	BigVideo Styles
	You may need to adjust these styles to get this working right in your design.
*/
#tubular-shield {
  background: rgba(255, 255, 255, 0.75); }
