/* Imports */

// even things out across browsers
@import "normalize.css";

// components
@import "variables";
@import "base";
@import "media-queries";

// modules
@import "content-list";
@import "top-bottom-nav";

body#home {
	background-size: auto 100%;
	background-position:center;
	article section {
		margin:15px auto 30px auto;
	}
	h2 {
		margin-bottom:0;
	}
	section#about {
		margin: 0 0 0 0;
	}
}
.subpages {
	margin:20px 0;
}
.parent-poetry .subpages, #about .subpages, #taxonomy {
	border:1px solid #dfdfdf;
	padding:0 10px;
	ul li {
		margin-left:1em;
	}
}
.subpages ul {
		margin: 0!important;
}

#reviews .subpages ul {
	border:none;
}

#container {
	padding:2.5% 5%;
}

body#poetry {
	article {
		img {
			max-width:100%;
			max-height:400px;
			max-width:400px;
			margin-bottom:5px;
			border:1px solid #ccc;
			display:block;
		}
	}
	.subpages h3 {
		a:link, a:visited, a:hover, a:active {
			border:none!important;
		}
	}
	.subpages h3 a:hover .title {
		border-bottom:2px solid #000;
	}
}

body#prose {
	article {
		ul.content-list {
			li {
				clear:left;
				a:link, a:visited {
					padding:15px 0;
					.thumbnail {
						max-height:40px;
						max-width:40px;
						float:left;
						margin-right:10px;
					}
					span.title {
						border-bottom:2px solid #eee;
					}
					span.date {
						font-weight:100;
					}
				}
				a:hover, a:active {
					span.title {
						border-bottom:2px solid #000;
					}
				}
			}
		}
	}
	#taxonomy {
		padding:0 10px 20px 10px;
		h4 {
			margin-bottom:5px;
		}
		li {
			margin-left:0;
		}
	}
}

/*	BigVideo Styles
	You may need to adjust these styles to get this working right in your design.
*/
#tubular-shield {background:rgba(255,255,255,.75);}
