---
---
body {
  font-family: adobe-caslon-pro, serif;
}

h1, h2, h3, h4, h5, h6, nav, .taxonomy, .btn {
  font-family: ff-dagny-web-pro, sans-serif;
}

.btn {
  display: inline-block;
  margin-bottom: 5px;
}

p {
  font-size: 1.5em;
  line-height: 1.4;
}

.is-checked {
  background-color: #7FDBFF!important;
  color: #fff!important;
  outline: 0!important;
  box-shadow: none!important;
}
