{% include 'header' %}
<article>
	{% if parent %}
		<h1 class="content-title">{{title}}</h1>
	{% endif %}
	{% if type == "tag" or type == "taxonomy" %}
		<h2 style="margin-bottom:20px;"><em>a way to organize</em> <a href="{{ parent.parent.url }}">{{ parent.parent.title }}</a></h2>
	{% endif %}
	{% if pages or posts %}

			{% if type != "post" %}
			{% comment %} Loop through posts {% endcomment %}
				{% if permalink contains "reviews" %}
				{% comment %} For reviews show "of" which book and vague date {% endcomment %}
					<h2><em>of</em> <a href="{{parent.url}}">{{parent.title}}</a></h2>
					<ul>
						{% for post in posts %}
							<li><h3><a href="{{post.url}}">{{post.title}} <span class="date">{{post.date | date: "%B %Y" }}</a></h3></li>
						{% endfor %}
					</ul>
				{% else %}
					{% if posts.size != 0 %}
						{% comment %} For everything else show small vague date {% endcomment %}
						<ul>
							{% for post in posts %}
								<li>
									<h3>
										<a href="{{post.url}}"><span class="title">{{post.title}}</span> <span class="date">{{post.date | date: "%B %Y" }}</span></a></h3></li>
							{% endfor %}
						</ul>
					{% endif %}
				{% endif %}
			{% endif %}
	{% endif %}

	{% if type == "post" %}
		{% if parent %}
			<h2 class="breadcrumb"><em>from</em> <a href="{{parent.url}}">{{parent.title}}</a></h2>
		{% endif %}
	{% endif %}

	{{body}}

	{% if type == "post" %}
		{% if meta.url %}
			<p><a href="{{meta.url}}">More Info</a></p>
		{% endif %}

		{% if meta.address %}
		<section class="meta">
			<a title="Click for directions" href="http://maps.google.com/?q={{meta.address}}"><img src="http://maps.googleapis.com/maps/api/staticmap?size=600x300&markers=color:red|{{meta.address}}&sensor=false&key=AIzaSyA0aqlbFHW-CRlBL07LrAkxqanPi7l8olA" alt=""></a>
		{% endif %}
		{% if parent.slug == "essays"  %}
		<section id="taxonomy">
			<h4><strong>Related</strong>: {% for tagset in taxonomy %} {% if tagset.size != 0 %} {% for tag in tagset %}<a href="{{tag.url}}">{{tag.value}}</a>  {% endfor %} {% endif %} {% endfor %}</h4>
		</section>
		{% endif %}
	{% endif %}
		<section class="subpages">
{% comment %} Show subpages if there are any available {% endcomment %}
						{% if title == "Poetry" %}
						<h2>Books</h2>
						{% endif %}
			{% for subpage in pages %}
				<h3>
					<a href="{{subpage.url}}">
						{% for asset in subpage.assets %}<img src="{{asset.url}}" title="{{subpage.title}}" />{% endfor %}
						{% if title != "poetry" %}
							<span class="title">{{subpage.title}}</span>
						{% endif %}
					</a>
				</h3>
			{% endfor %}

		</section>
</article>
{% include 'footer' %}
