{% include 'header' %}
<article>
  <p class="intro">Calendar of events, speeches, readings.</p>
  {% comment %} For events show big date {% endcomment %}
  <ul class="content-list">
    {% if posts %}
      {% for post in posts %}
      	{% assign time = post.date | date: "%-I%p" %}
        <li><h3><a href="{{post.url}}">
        {% if time == "12AM" %}
	        <span class="date">{{post.date | date: "%B %-d, %Y" }}</span>
		{% else %}
	        <span class="date">{{post.date | date: "%B %-d, %Y, %-I%p" }}</span>
		{% endif %}
        {% if post.meta['locale'] %} <span class="locale">{{post.meta['locale']}}</span>{% endif %}<br /><span class="title">{{post.title}}</span></a></h3></li>
      {% endfor %}
    {% endif %}
    </ul>
</article>
{% include 'footer' %}
