@import "normalize.css";
@import "colors";

body{
	font-family: 'Chronicle SSm A', 'Chronicle SSm B';
	font-style: normal;
	font-weight:100;
	font-size: 16px;
	line-height: 1.5;
	background: #fff;
	color:#080217;
}

h1, h2, h3, h4, h5, nav, footer {
	font-family: 'Gotham SSm A', 'Gotham SSm B';
	font-weight:100;
	color:black;
}

a:link, a:visited {
	color:black;
	text-decoration:none;
}
a:link, a:visited {
	vertical-align: baseline;
	font-weight: 400;
	letter-spacing: 0;
	padding:0px 0;
	margin:0;
	border-bottom:2px solid #dfdfdf;
}
a:hover, .is-current-page {
	border-bottom:2px solid black!important;
}
header, footer {
	text-align: center;
	a:link, a:visited {
		border-color:rgba(0,0,0,0);
	}
}

hr {
	border:none;
	border-top:1px solid #ccc;
}

h1 { 
	font-size: 1.75em; 
	line-height:1.15em;
}
h2 { font-size: 1.25em; }
h3 { font-size: 1.10em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

header {
	padding:15px;
	li {
		display:inline-block;
		margin-right: 2px;
	}
}


img, video, object{ max-width: 100% }

article, header, nav, section {
		display: block;
}

nav .home {
	display:inline-block;
	height:24px;
	a:link, a:visited {
		display:inline-block;
		padding:0;
		margin:1px 1px 0 0;
		height:23px;
		width:23px;
		text-indent: -5000em;
		background-image: url(home.png);
		background-size:23px 47px;
		background-repeat:no-repeat;
		border:none!important;
		-webkit-transition: none;
	}
	a:hover, a:active {
		background-position:bottom;
	}
}

p.intro {
	font-style:italic;
}

body#home nav .home a {
	background-position:bottom;
}

nav .events {

	a:link.is-current-page, a:visited.is-current-page {
		border-color: $orange!important;
	}
	a:hover, a:active {
		border-color: $orange!important;
	}
}

span.locale {
	color: $orange; 
	font-weight: bold;
}

p {
//	max-width:500px;
	margin:1em auto;
}

.parent-prose, #about, .parent-reviews {
	p {
		max-width: 600px
	}
}

blockquote {
	font-style: italic;
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

#tomhealy {
	font-family: 'Gotham SSm A', 'Gotham SSm B';
	font-weight:bold;
	color:$orange;
}

body#home {
	background-image:url('tomhealyis-ghost.png');
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	h1 {
		color:lime;
	}
	article section {
		margin:50px auto;
	}
	section#about {
		margin: 0 auto 35px auto;
	}
	section#poems {
		max-width:800px;
		#cover {
			margin:0;
		}
		li {
			display:inline-block;
			width:48%;
			margin:10px 0;
			vertical-align: middle;
			img {
				box-shadow: 0px 2px 5px rgba(0,0,0,.15);
			}
		}
	}
}

body#prose {
	#taxonomy {padding:0 10px;margin:0;float:right;width:20%;}
}

#prose, .tag {
	a {
		span.title {
			font-weight: bold;
		}
	}
}
.subpages {
	margin:20px 0;
}
.parent-poems .subpages, #about .subpages, #taxonomy {
	border:1px solid #dfdfdf;
	padding:0 10px;
	ul li {
		margin-left:1em;
	}
}
.subpages ul {
		margin: 0!important;
}

#reviews .subpages ul {
	border:none;
}

footer {
	clear:both;
	margin-top:30px;
	border-top:1px solid #dfdfdf;
	section {
		vertical-align: top;
		margin:0;
		padding:0;
	}
	h2 {
		font-size:1em;
		line-height:1;
		font-weight:bold;
	}
	h2.name {
		color:lime;
		text-transform: uppercase;
	}
	a {
		text-transform: none;
	}
}

#container {
	max-width:960px;
	margin:auto;
	padding:2.5% 5%;
}

video {
	display:block;
	margin:auto;
}

article {
	h1, h2 {
		padding:0;
		margin:15px 0;
	}
}

body#poems {
	article {
		img {
			max-width:100%;
			max-height:400px;
			max-width:400px;
			margin-bottom:5px;
			border:1px solid #ccc;
		}
	}
	.subpages h3 {
		a:link, a:visited, a:hover, a:active {
			border:none!important;
		}
	}
	.subpages h3 a:hover .title {
		border-bottom:2px solid #000;
	}
}

// 480px
@media only screen and (min-width: 480px) {
	footer {
		section {
			display: inline-block;
			width:24%;
		}
	}
	header li {
		margin-right:10px;
	}
	body#poems article h3 {
		display:inline-block;
		width:48%;
		margin:10px 0;
	}
}
@media only screen and (min-width: 600px) {
	.parent-poems {
		h1 {
			margin-bottom:20px;
		}
		#cover, article {
			width:48%;
			display:inline-block;
			vertical-align: top;
		}
		#cover {
			margin-right: 2%;
		}
	}
}

/*	BigVideo Styles 
	You may need to adjust these styles to get this working right in your design. 
*/
#tubular-shield {background:rgba(255,255,255,.75);}

/*
Telescopic Text
Concept and code by Joe Michael Lambert Davis, taken from http://www.telescopictext.org
Thank you!
*/

.telescopictext {
	display:none;
	word-wrap:break-word;
	p {
		margin:0 auto;
		padding:15px;
	}
}

span._b {
	background-color:lime;
}

span._b:hover {
	background-color:#BBB;
	cursor:pointer;
	cursor:hand;
}
span._b:active {
	background-color:#999;
}

span._node_content {
	background-color:#CCC;
	color:#FFF;
}

span._node_content:hover {
	background-color:#AAA;
	cursor:pointer;
	cursor:hand;
}
span._node_content:active {
	background-color:#888;
}

span.c {
	background-color:rgba(0,255,0,.25);
}

@media only screen and (min-width: 768px) {
  /* 768 =================================================== */
}
@media only screen and (min-width: 992px) {
  /* 992 =================================================== */
}
@media only screen and (min-width: 1382px) {
  /* 1382 =================================================== */

}