@import "normalize.css";

body{
	font-family: 'Chronicle SSm A', 'Chronicle SSm B';
	font-style: normal;
	font-weight:100;
	font-size: 16px;
	line-height: 1.5;
	background: #eee;
	color:#080217;
	padding:2.5% 5%;
}

h1, h2, h3, h4, h5, nav, footer {
	font-family: 'Gotham SSm A', 'Gotham SSm B';
	font-weight:100;
	color:black;
	a:link, a:visited {
		color:black;
		text-decoration:none;
	}
	a:link, a:visited {
		vertical-align: baseline;
		font-weight: 400;
		letter-spacing: 0;
		padding:0px 0;
		margin:0;
		-webkit-transition:all .25s;
		border-bottom:2px solid #eee;
	}
	a:hover, .is-current-page {
		border-bottom:2px solid black!important;
	}
}

header {
	margin-bottom:40px;
	li {
		display:inline-block;
		margin-right: 2px;
	}
}


img, video, object{ max-width: 100% }

article, header, nav, section {
		display: block;
}

p {
	max-width:500px;
	margin:1em auto;
}

blockquote {
	font-style: italic;
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
	li {
		a {
			span.date {
				font-size:.65em;
				color: #ccc!important;
			}
		}
	}
}

footer {
	margin-top:40px;
	text-align:center;
	section {
		vertical-align: top;
		margin:0;
		padding:0;
	}
	h2 {
		font-size:1em;
		line-height:1;
		font-weight:bold;
	}
	a {
		text-transform: none;
	}
}

#container {
	max-width:960px;
	margin:auto;
}

video {
	display:block;
	margin:auto;
}

body#poems {
	article {
		img {
			max-width:100%;
			max-height:200px;
			max-width:200px;
			margin-bottom:5px;
		}
		h2 {
			text-align: center;
			margin-bottom:40px;
		}
	}
}

// 480px
@media only screen and (min-width: 480px) {
	footer {
		text-align: left;
		section {
			display: inline-block;
			width:24%;
		}
	}
	header li {
		margin-right:10px;
	}
	body#poems article h2 {
		display:inline-block;
		width:48%;
		margin:40px 0;
	}
}