@import "normalize.css";

body{
	font-family: 'Chronicle SSm A', 'Chronicle SSm B';
	font-style: normal;
	font-weight:100;
	font-size: 16px;
	line-height: 1.5;
	background: #fff;
	color:#080217;
	padding:2.5% 5%;
}

h1, h2, h3, h4, h5, nav, footer {
	font-family: 'Gotham SSm A', 'Gotham SSm B';
	font-weight:400;
	color:black;
	a:link, a:visited {
		color:black;
		text-decoration:none;
	}
}

header {
	margin-bottom:10px;
	li {
		display:inline-block;
	}
	a:link, a:visited {
		vertical-align: baseline;
		font-weight: 400;
		font-size:.95em;
		letter-spacing: 0;
		padding:5px;
		margin:0;
		-webkit-transition:all .25s;
		border-bottom:2px solid white;
	}
	a:hover, .is-current-page {
		border-bottom:2px solid black!important;
	}
}

header, footer, nav {
	text-transform:uppercase;
}

img, video, object{ max-width: 100% }

article, header, nav, section {
		display: block;
}

/* Content */

.content-title{
	font-size: 2.4em;
	line-height: 1.3;
	margin: 0 0 0.5em;
}

.post-preview{
	border-top: 1px dotted #d4d7d9;
	margin: 1em 0 0;
	padding: 1em 0 0;
}

.subpage-menu a{
	display: inline-block;
	margin-right: 15px;
}
.more {
	font-weight:bold;
	border-bottom:2px solid #000;
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

footer {
	section {
		display: inline-block;
		vertical-align: top;
		margin:0;
		padding:0;
		width:24%;
	}
	h2 {
		font-size:1em;
		font-weight:bold;
	}
	a {
		text-transform: none;
	}
}

#container {
	max-width:960px;
	margin:auto;
}