{% include 'header' %}
	{% for asset in assets %}
			<section id="cover">
				<img src="{{asset.url}}">
			</section>
	{% endfor %}
<article>
	{% if parent %}
		<h1 class="content-title">{{title}}</h1>
	{% endif %}

	{% if type != "post" %}
	{% comment %} Loop through posts {% endcomment %}
			<h2 style="margin-top:20px;">Peruse</h2>
			<ul>
				{% for post in posts %}
					<li><a href="{{post.url}}">{{post.title}}</a></li>
				{% endfor %}
			</ul>
	{% endif %}

	{{body}}

	{% for subpage in pages %}
		<h2>
			<a href="{{subpage.url}}">
				{{subpage.title}}
			</a>
		</h2>
	{% endfor %}

	{% if type == "post" %}
		{% if meta.address %}
		<section class="meta">
			<a title="Click for directions" href="http://maps.google.com/?q={{meta.address}}"><img src="http://maps.googleapis.com/maps/api/staticmap?size=600x300&markers=color:red|{{meta.address}}&sensor=false&key=AIzaSyA0aqlbFHW-CRlBL07LrAkxqanPi7l8olA" alt=""></a>
		{% endif %}
		{% if parent.slug == "prose"  %}
		<section id="taxonomy">
			<h4><strong>Related</strong>: {% for tagset in taxonomy %} {% if tagset.size != 0 %} {% for tag in tagset %}<a href="{{tag.url}}">{{tag.value}}</a>  {% endfor %} {% endif %} {% endfor %}</h4>
		</section>
		{% endif %}
	{% endif %}
</article>
{% include 'footer' %}