.content-list {
  font-size: 1.10em;
  font-family:$sans-serif;
  li {
    margin-top:10px;
    }
  }
#poetry .content-list {
  .title {
    font-weight:bold;
    }
  .publisher {
    font-style: italic;
    }
  }
#essays .content-list {
  .title {
    font-weight:bold;
    }
  }
#events .content-list {
  .locale {
    font-weight:bold;
    }
  .title {
    font-style:italic;
    }
  }
