@media only screen and (min-width: 480px) {
  /* 480 =================================================== */
  header nav li {
    margin-right:10px;
  }
  body#poetry article h3 {
    display:inline-block;
    width:48%;
    margin:10px 0;
  }
}

@media only screen and (min-width: 600px) {
  /* 600 =================================================== */
  .parent-poetry {
    h1 {
      margin-bottom:20px;
    }
    #cover, article {
      width:48%;
      display:inline-block;
      vertical-align: top;
    }
    #cover {
      margin-right: 2%;
    }
  }
  .parent-prose, #about, .parent-reviews {
    p, blockquote {
      max-width: 600px;
      margin-left:0;
    }
  }
}

@media only screen and (min-width: 768px) {
  /* 768 =================================================== */
  body {
    font-size:16px;
  }
  #container {
    padding:2.5% 10%!important;
  }
  body#prose {
    .content-list {
      float:left;
      width:70%;
    }
    #taxonomy {padding:0 10px;margin:0 0 0 10px;float:right;width:20%;}
  }
}
