---
layout: default
---

<main>
	<div class="sm-flex px4 pt2 max-width-4 mx-auto">
		<article>
			<h2 class="block h1">About Tom Healy</h2>
			<div class="content sm-col sm-col-8">
				{{ content | markdownify }}
			</div>
			<aside class="sm-col sm-col-4 pl4">
				<h2>Contact</h2>

				{{ page.contact | markdownify }}

				<h2>Interviews &amp; Reviews</h2>

				{% for item in page.interviews-and-reviews %}
				<ul>
					<li><a href="{{item.url}}">{{item.title}}</a></li>
				</ul>
				{% endfor %}

			</aside>
		</article>
	</div>
</main>
