---
layout: default
---

<main class="px4">
  <article class="max-width-3 mx-auto mt4">

    <img src="{{page.cover-image}}" alt="{{page.title}}">
    <h1>{{ page.title }}</h1>
    {{ content }}
    {% if page.address %}
      <a title="Click for directions" href="http://maps.google.com/?q={{page.address}}"><img src="http://maps.googleapis.com/maps/api/staticmap?size=600x300&markers=color:red|{{page.address}}&sensor=false&key=AIzaSyA0aqlbFHW-CRlBL07LrAkxqanPi7l8olA" width="600" height="300"></a>
    {% endif %}
  </article>
</main>
<ul>
{% for book_poem in page.poetry %}
      <li>
        {% for site_poem in site.poetry %}
          {% if book_poem == site_poem.title %}
            <a href="{{ site_poem.url }}">{{ book_poem }}</a>
          {% else %}
            {{ book_poem }}
          {% endif %}
        {% endfor %}
      </li>
{% endfor %}
</ul>
