---
layout: default
---

<main class="clearfix mt4 px2 sm-px4 content sm-flex">
  <div class="sm-col-6">
    <img src="{{page.cover-image}}" alt="{{page.title}}" style="max-width:100%;">
    {% assign buy = page.buy %}
    {% if buy.size > 0 %}
      <section class="buy">
        <h2>Buy</h2>
        {% for buy in buy %}
          <a href="{{buy.url}}" class="btn btn-outline">{{buy.source}}</a>
        {% endfor %}
      </section>
    {% endif %}
  </div>
  <article class="sm-col-6">
    <h1>{{ page.title }}</h1>

    {% assign contents = site.poetry | where:"book", page.title %}
    {% if contents.size > 0 %}
      <h2>Read</h2>
      <ul class="list-reset">
        {% for poem in contents %}
          <li class="pb1">
            <a href="{{ poem.url }}" class="h3">{{ poem.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <h2>About</h2>
    {{ content }}

  </article>
</main>
