---
layout: default
---

<main class="flex flex-wrap">
	<h2 class="h1 m0 col-12 bg-navy"><a class="block white p4 text-decoration-none" href="/about">Tom Healy</a></h2>
	<h2 class="h1 m0 col-12 bg-blue"><a class="block white p4 text-decoration-none" href="/poetry">Poetry</a></h2>
	<h2 class="h1 m0 col-12 bg-aqua"><a class="block white p4 text-decoration-none" href="/essays">Essays</a></h2>
	<h2 class="h1 m0 col-12 bg-teal"><a class="block white p4 text-decoration-none" href="/videos">Videos</a></h2>
	<h2 class="h1 m0 col-12 bg-olive"><a class="block white p4 text-decoration-none" href="/events">Events</a></h2>
	<h2 class="h1 m0 col-12 bg-green"><a class="block white p4 text-decoration-none" href="/about">Twitter</a></h2>
	<h2 class="h1 m0 col-12 bg-lime"><a class="block white p4 text-decoration-none" href="/about">Email</a></h2>
</main>
