---
layout: default
---

<main class="px4">
	<section id="books">
		<h2 class="block h1 pt3">Books</h2>
		<div class="sm-flex center">
			{% for book in site.books %}
					<a href="{{ book.url }}" class="sm-col sm-col-6 text-decoration-none black content-center">
						<img class="fit" src="{{ book.cover-image }}" title="{{ book.title }}" />
						<h3 class="h1 regular">{{ book.title }}</h3>
					</a>
			{% endfor %}
		</div>
		<div class="h3 max-width-3 block mx-auto">
			{{ content | markdownify }}
		</div>
	</section>
</main>
