<section id="container">
	{% include 'header' %}

	<section class="content">
		<article>
			{% if parent %}
				<h1 class="content-title">{{title}}</h1>
			{% endif %}
			{% include 'prose-sort' %}
			<section class="subpages">
				{% if pages %} {% comment %} Show subpages if there are any available {% endcomment %}
					{% for subpage in pages %}
						<h2><a href="{{subpage.url}}">{% for asset in subpage.assets %}<img src="{{asset.url}}" /><br />{% endfor %}
						{{subpage.title}}</a></h2>
					{% endfor %}
				{% endif %}
				{% if type != "post" %} {% comment %} Loop through any posts and show an excerpt {% endcomment %}
					{% if permalink contains "reviews" %}
					{% elsif permalink contains "poems/" %}
						<h2>Selections</h2>
					{% endif %}
					<ul>
						{% for post in posts %}
							<li><h3><a href="{{post.url}}">{{post.title}}{% if permalink contains "poems" %}{% else %} <span class="date">{{post.date | date: "%B %Y" }}{% endif %}</span></a></h3></li>
						{% endfor %}
					</ul>
				{% endif %}
			</section>
			{% if type == "post" %}
				{% if parent %}
					<h2><em>from</em> <a href="{{parent.url}}">{{parent.title}}</a></h2>
				{% endif %}
			{% endif %}
			{{body}}
			<section class="meta">
				{% comment %} Show tagsets if this is a post {% endcomment %}

				{% for tagset in taxonomy %}
					{% if tagset.size != 0 %}
						<strong>{{tagset.key}} ({{tagset | size}} tags)</strong>
						<ul>
							{% for tag in tagset %}
								<li><a href="{{tag.url}}">{{tag.value}}</a></li>
							{% endfor %}
						</ul>
					{% endif %}
				{% endfor %}
			</section>
		</article>

	</section><!-- /content -->

	{% include 'footer' %}
</section>